
<!-- Jumbotron -->
<div
        class="p-12 text-center text-info relative overflow-hidden bg-no-repeat bg-cover rounded-lg"
        style="
    background-image: url('{{ asset('assets/upload/acceuil/nouveau.png') }}');
width: 100%;
    height: 400px;

  "
>
  <br>
  <br>
  <br>
  <br>
  <h1>Réservez votre location de voiture</h1>

</div>
<!-- Jumbotron -->