<br>
<br>
<br>

<div class="p-3 mb-2 bg-info text-dark" >
    {{ form_start(form) }}
    <div class="col-md-4">
        {{ form_row(form.debut) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.fin) }}
    </div>
    <br>
    {{ form_end(form) }}
    <br>
    <br>

</div>

