.apropos{
    margin-top: 40px!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
}
.apropos.content.card{
    display:block!important;
}
.apropos.content.card.right.img{
    height: 100% !important;
    width: 400px!important;
    margin-top: 5px!important;

}