{% extends 'base.html.twig' %}

{% block title %}Eurocar-Contact{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-6">
        <h1>Formulaire de contact</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}





        {{ form(form) }}
        </div>
    </div>

{% endblock %}
